<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:method="post" th:action="@{/new}" th:object="${user}">
  <div>
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username"/>
    </br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>
    </br>
    <label for="roles">Select roles</label>
    <select id="roles" name="roles" th:field="*{roles}" multiple>
      <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <input type="submit" value="Add User">
  </div>
</form>
</body>
</html>